body {
    font-size: small;
    font-family: Verdana, Geneva, Arial, sans-serif;
    line-height: 1.6em;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#guarantee {
    /* 调整盒子 */
    background-color: #a7cece;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-style: dashed;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 25px;
    padding-left: 80px;
    margin-top: 30px;
    margin-right: 250px;

    /* 调整字体 */
    line-height: 1.9em;
    font-style: italic;
    color: #444444;
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* 添加背景图片 */
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

/* 增加媒体查询 */
@media screen and (min-device-width: 481px) {
    #guarantee {
        margin-right: 250px;
    }
}
@media screen and (max-device-width: 480px){
    #guarantee {
        margin-right: 30px;
    }
}
@media print {
    body {
        font-family: 'Times New Roman', Times, serif;
    }
}


p.specials {
    color: red;
}